<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标题</title>

    <script src="../js/vue2/vue.js"></script>  <!-- 引入 Vue -->
<body>
    <!-- 写一个容器 -->
    <div id="root">
        <!-- <h2 v-show="false">今天又是{{ fine }}的一天~</h2> -->
        <!-- <h2 v-if="false ">今天又是{{ fine }}的一天~</h2> -->
        <h2>当前的n值是：{{ n }}</h2>
        <button @click="++n">点我++n</button>
        
        <!-- <div v-show="n === 1">Angular</div>
        <div v-show="n === 2">React</div>
        <div v-show="n === 3">Vue</div> -->

        <!-- <div v-if="n === 1">Angular</div>
        <div v-else-if="n === 2">React</div>
        <div v-else-if="n === 3">Vue</div>
        <div v-else>error</div> -->

        <template v-if="n === 1">
            <h2>1</h2>
            <h2>2</h2>
            <h2>3</h2>
            <h2>4</h2>
        </template>

    </div>

    <script>
        Vue.config.productionTip = false  // 设置为 false 以阻止 vue 在启动时生成生产提示。

        // 创建一个 Vue 实例
        new Vue({
            el: '#root',  // el 用于指定这一个 Vue 实例为哪一个容器服务，值通常为 css 的选择器字符串
            data: {
                fine: '美好',
                n: 0
            }
        })
    </script>
</body>
</html>